{% extends 'books/base.html' %}
{% load staticfiles %}
{% block title %}
    Бэрэеджэ
{% endblock %}
{% block content %}
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('{% static 'img/library.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <form action="{% url 'books:search' %}" method="get">
                        <div class="input-group has-white">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-search" style="color:white"></i>
                                </span>
                            </div>
                            <input name="q" type="search" class="form-control" id="formControl" placeholder="Search here">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <div class="title">
                    <h2>Тхылъыщӏэхэр</h2>
                </div>

                <div class="row">
                    {% for new_book in new_books %}
                        <div class="col-lg-3 col-md-6">
                            <div class="card card-product">
                                <div class="card-header card-header-image">
                                    <a href="{% url 'books:book' new_book.slug %}">
                                        <img class="img" src="{{ new_book.cover.url }}">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category text-success">{{ new_book.genre }}</h6>
                                    <h4 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                        <a href=" {% url 'books:book' new_book.slug %}">{{ new_book.title }}</a>
                                    </h4>
                                    <div class="card-description">
                                        {% for author in new_book.writer.all %}
                                            <p style="margin-bottom: 0">{{ author.name }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}